<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>GeoTagApp</title>
		<link rel='stylesheet' href='stylesheets/style.css' type="text/css" />
	</head>

	<body>

		<header>
			<img src="./images/location.png" width="100" alt="an image of a map and location">
			<h1>GeoTagApp</h1>
			<nav>
				<a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
			</nav>
		</header>

		<main class="row">

			<section class="tagging col-3">
				<h2>Tagging</h2>

				<!-- ############### Aufgabe1a Form1 Start -->
				<form id="tag-form" action="/tagging" method="post">
                	<fieldset>
						<% 	if(position !== undefined){
								longitude = position[1];
								latitude = position[0];
							}
							else{
								longitude = "";
								latitude = "";
							}
						%>
                    	<legend>Enter new GeoTag</legend>
                        <label for="latitude">Latitude</label>
                        <input type="text" id="latitude" name="latitude" value="<%= latitude %>" />
                        <label for="longitude">Longitude</label>
                        <input type="text" id="longitude" name="longitude" value="<%= longitude %>" />
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" maxlength="10" />
                        <label for="hashtag">Hashtag</label>
                        <input type="text" id="hashtag" name="hashtag" pattern="#.{1,10}" value="#" />
                        <input type="button" value="submit" id="submit-tagging" />
                    </fieldset>
                </form>
				<!-- ############### Aufgabe1a Form1 Ende -->

			</section>

			<section class="discovery col-9">
				<h2>Discovery</h2>

				<!-- ############### Aufgabe1a Form2 Start -->
				<form id="filter-form" action="/discovery" method="post">
                	<fieldset>
                    	<legend>Filter by Searchterm</legend>
                        <input type="text" id="searchterm" name="searchterm" placeholder="search term" />
						<input type="hidden" name="longitude" value="<%= longitude %>" />
						<input type="hidden" name="latitude" value="<%= latitude %>" />
                        <input type="button" value="apply" id="submit-discovery" />
                        <input type="reset" value="remove" id="remove-discovery" /><span id="filtered"></span>
                    </fieldset>
                </form>
				<!-- ############### Aufgabe1a Form2 Ende -->
				<div class="row">
                    <div class="taglist col-3">
                        <ul id="results">
                            <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
								<li><%= gtag.name %> (<%= gtag.latitude %>, <%= gtag.longitude %>) <%= gtag.hashtag %> </li>
							<% }); %>
                        </ul>
                    </div>
    
                    <div class="tagmap col-9">
                        <img id="result-img" src="./images/mapview.jpg" alt="a map with locations" data-tags="<%= JSON.stringify(taglist) %>" />
                        <div class="caption">Result map</div>
                    </div>
                </div>

			</section>
		</main>

		<footer>
			<span>2017 by LKIT</span>
		</footer>
	</body>
    <!-- Load JavaScripts================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="./javascripts/geotagging.js"></script>
</html>