/*Init base css*/
* {
	box-sizing:border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row {
	width:100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
a {
	color: #00B7FF;
}
/*Beautiful Buttons*/
input[type="submit"], input[type="reset"], input[type="button"]{
	background-color: #00B7FF;
	color:#FFF;
	border-radius:2px;
	border:none;
	padding:10px;
	transition:.5s ease;
	-webkit-transition:.5s ease;
	-moz-transition:.5s ease;
}
input[type="submit"]:hover, input[type="reset"]:hover{
	background-color:#3ac7ff;
}
input[type="text"]{
	background-color:#CCC;
	color:#666;
	border-radius:2px;
	border:1px solid #BBB;
	padding:10px;
	transition:.5s ease;
	-webkit-transition:.5s ease;
	-moz-transition:.5s ease;
}

::placeholder {
    color: #FFF;
    opacity: 1; /* Firefox */
	font-style:italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #FFF;
   font-style:italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #FFF;
   font-style:italic;
}

input[type="text"]:hover, input[type="text"]:focus{
	-moz-box-shadow:inset -1px 4px 10px 2px #AAA;
  	-webkit-box-shadow:inset -1px 4px 10px 2px #AAA;
  	box-shadow:inset -1px 4px 10px 2px #AAA;
}
/*Header/Footer*/
header, footer {
	width:100%;
	background-color:#888;
	margin:0;
	padding:10px;	
}
header > h1 {
	color:#FFF;
}
footer {
	color:#FFF;
	font-weight:bold;
}


/*MAIN*/
main {
	width:100%;
	margin:0;
}
label {
	display:block;
	font-weight:bold;
}
main > section.tagging input[type="text"]{
	width:100%;	
}

main > section.discovery > div {
	float:left;
	padding:10px;
}
.taglist {
	padding:5px;
}
main > section.discovery > div > div.tagmap img {
	width:100%;	
}
#results {
	list-style-type:none;
	padding:0;
}
#results li {
	margin-top:5px;
	background-color:#00B7FF;
	color:#FFF;	
	padding:5px;
}
#results li:first-child {
	margin:0;	
}

main > section.discovery > div.tagmap {
	padding:5px;	
}